.btn {
  border: 0;
  outline: 0;
  color: #fff;
  background-color: #ea0800;
  line-height: 20px;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  min-height: 1.5rem;
  border: 1px solid rgba(27, 31, 35, 0.15);
  cursor: pointer;
}

.btn:hover {
  background-color: #d31009;
}

.btn:active {
  background-color: #b20701;
  box-shadow: rgba(199, 10, 4, 0.2) 0 1px 0 inset;
}
