.strip-item {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  box-shadow: 0.3rem 0.2rem 0.5rem 0 rgb(0, 0, 0, 0.6);
}

.strip-item img {
  height: auto;
  width: 200px;
  object-fit: contain;
}
