.container-details {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  align-items: left;
}

.title {
  color: #ea0800;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem;
}

.container-details > div {
  display: flex;
}

.container-details > div img {
  margin: 1rem;
}

.shadow {
  box-shadow: 0.3rem 0.2rem 0.5rem 0 rgb(0, 0, 0, 0.6);
}

.sub-text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #ea0800;
  padding: 0 0.5rem;
  border-radius: 0.8rem;
  width: fit-content;
}

.rating {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #ea0800;
  padding: 0 0.5rem;
  border-radius: 0.8rem;
  width: fit-content;
  margin-top: 1rem;
}

.rating svg {
  padding-left: 0.25rem;
}

.rating p {
  margin: 0;
}

.list-info {
  display: flex;
}

.list-info p {
  background-color: #ea0800;
  color: #fff;
  margin-right: 10px;
  padding: 0 0.5rem;
  border-radius: 0.8rem;
}
